<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @purchase.client_name %>
</p>

<p>
  <b>Product:</b>
  <%= @purchase.product_name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @purchase.quantity %>
</p>

<p>
  <b>Unit Price:</b>
  <%= @purchase.unit_price %>
</p>

<p>
  <b>Total:</b>
  <%= @purchase.total %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
