<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @purchase.client %>
</p>

<p>
  <b>Product:</b>
  <%= @purchase.product %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
